.form {
  display: grid;
  &__group {
    display: flex;
    flex-direction: column;
    &:focus-within {
      .form__label {
        color: black;
      }
    }
  }

  &__label {
    font-size: 15px;
    font-weight: 400;
    color: grey;
  }

  &__input {
    all: unset;
    border-radius: 5px;
    border: 1px solid grey;
    transition: 300ms all ease;
    padding: 5px;

    &:focus {
      & + .form__label {
        color: black;
      }
      background-color: rgb(218, 218, 218);
      border: 1px solid black;
    }
  }
}
