<ng-container *ngIf="!!display">
  <section
    #modalBackdrop
    [ngClass]="display.state === 'open' ? 'modal--open' : 'modal--close'"
    (click)="options?.backdrop?.closeOnClick && clickBackdrop('backdrop')"
    [class]="options?.backdrop?.class || ''"
    (transitionend)="
      $event.propertyName === 'visibility' && transitionModalEnd()
    "
  >
    <!-- (transitionend)="log($event.propertyName)" -->
    <div
      #modal
      (click)="$event.stopPropagation()"
      [ngClass]="options?.class"
      [style]="options?.style"
    >
      <div
        #modalHeader
        *ngIf="options?.header?.show"
        [ngClass]="headerClass"
        [style]="options?.header?.style"
      >
        <div #modalHeaderButtons [class]="headerButtonsClass">
          <div
            *ngFor="let button of buttonsGroup.header"
            class="pointer"
            [class]="button.class"
            [style]="button.style"
            type="button"
            (click)="button.action()"
          >
            {{ button.text }}
          </div>
        </div>

        <h2
          #modalTitle
          *ngIf="options?.title?.show"
          [ngClass]="options?.title?.class"
          [style]="options?.title?.style"
        >
          {{ display.options?.title?.text }}
        </h2>
      </div>
      <div
        #modalBody
        [ngClass]="options?.body?.class"
        [style]="options?.body?.style"
      >
        <div #contentString *ngIf="display.text">{{ display.text }}</div>
        <ng-template #contentComponent></ng-template>
      </div>

      <div
        #modalFooter
        *ngIf="options?.footer?.show"
        [ngClass]="footerClass"
        [style]="options?.footer?.style"
      >
        <div #modalFooterButtons [class]="footerButtonsClass">
          <div
            *ngFor="let button of buttonsGroup.footer"
            class="pointer"
            [ngClass]="button.class"
            [style]="button.style"
            type="button"
            (click)="button.action()"
          >
            {{ button.text }}
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
