<ng-container *ngIf="!!display">
  <section
    #modalBackdrop
    [ngClass]="display.state === 'open' ? 'modal--open' : 'modal--close'"
    (click)="clickBackdrop('backdrop')"
  >
    <div #modal (click)="$event.stopPropagation()">
      <div #modalHeader *ngIf="display.options?.header?.show">
        <div #modalHeaderButtons>
          <div
            *ngFor="let button of buttonsGroup.header"
            [class]="button.class"
            [style]="button.style"
            type="button"
            (click)="button.action()"
          >
            {{ button.text }}
          </div>
        </div>

        <h2 #modalTitle *ngIf="display.options?.title?.text">
          {{ display.options?.title?.text }}
        </h2>
      </div>
      <div #modalBody>
        <div #contentString *ngIf="display.text">{{ display.text }}</div>
        <ng-template #contentComponent></ng-template>
      </div>

      <div #modalFooter *ngIf="display.options?.footer?.show">
        <div #modalFooterButtons>
          <div
            *ngFor="let button of buttonsGroup.footer"
            [class]="button.class"
            [style]="button.style"
            type="button"
            (click)="button.action()"
          >
            {{ button.text }}
          </div>
        </div>
        <!-- <div
          type="button"
          (click)="clickType('save')"
          class="modal__button modal__button--save"
        >
          Guardar
        </div>
        <div
          type="button"
          (click)="clickType('ok')"
          class="modal__button modal__button--ok"
        >
          Ok
        </div>
        <div
          type="button"
          (click)="clickType('close')"
          class="modal__button modal__button--close"
        >
          Cerrar
        </div>
        <div
          type="button"
          (click)="clickType('modify')"
          class="modal__button modal__button--modify"
        >
          Modificar
        </div>
        <div
          type="button"
          (click)="clickType('cancel')"
          class="modal__button modal__button--cancel"
        >
          Cancelar
        </div> -->
      </div>
    </div>
  </section>
</ng-container>
