$padding-distance: 16px;

h2 {
  all: unset;
}

.d-flex {
  display: flex;
}

.position {
  &__justify {
    &--end,
    &--start,
    &--center,
    &--between,
    &--evenly,
    &--around {
      display: flex;
      > div {
        display: flex;
      }
    }

    &--start {
      justify-content: flex-start;
    }
    &--end {
      justify-content: flex-end;
    }
    &--center {
      justify-content: center;
    }
    &--between {
      justify-content: space-between;
    }
    &--evenly {
      justify-content: space-evenly;
    }
    &--around {
      justify-content: space-around;
    }
  }

  &__direction {
    &--row,
    &--column {
      > div {
        display: flex;
      }
    }

    &--row {
      flex-direction: row;
    }

    &--column {
      flex-direction: column;
    }
  }
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  &--open {
    visibility: inherit;
    opacity: 1;
    backdrop-filter: blur(5px);
  }
  &--close {
    visibility: hidden;
    opacity: 0;
  }

  &__backdrop {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: all 300ms ease;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  &__header,
  &__body,
  &__footer {
    display: flex;
  }

  &__header,
  &__footer {
    padding: $padding-distance;
  }

  &__body {
    padding: $padding-distance $padding-distance * 2;
  }

  &__button {
    cursor: pointer;
    // &--close {
    //   margin-left: auto;
    // }
  }
}
